<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags, title, etc. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
<div class="text-center">
    <h1>Gerador de Senhas Fortes</h1>
    <form action="{{ url_for('generate_password') }}" method="post">
        <div class="mb-3">
            <label for="length">Comprimento da Senha:</label>
            <input type="number" name="length" id="length" min="8" max="32" value="{{ request.form.get('length', '') }}"
                   required>
        </div>

        <div class="mb-3">
            <label for="uppercase">Incluir Letras Maiúsculas:</label>
            <input type="checkbox" name="uppercase" id="uppercase" {% if request.form.get('uppercase') %}checked{% endif
            %}>
        </div>

        <div class="mb-3">
            <label for="numbers">Incluir Números:</label>
            <input type="checkbox" name="numbers" id="numbers" {% if request.form.get('numbers') %}checked{% endif %}>
        </div>

        <div class="mb-3">
            <label for="special">Incluir Caracteres Especiais:</label>
            <input type="checkbox" name="special" id="special" {% if request.form.get('special') %}checked{% endif %}>
        </div>

        <button type="submit" class="btn btn-primary">Gerar Senha</button>
    </form>

    {% if generated_password %}
    <h2>Senha Gerada:</h2>
    <p style="font-weight: bold; font-size: larger; border: 1px solid #ccc; padding: 10px;">{{ generated_password }}</p>
    {% endif %}
</div>
</body>
</html>
